---
layout: default
title: Blog
permalink: /blog/
---
<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
      <ul class="button-group">
        <li><a href="{{ site.baseurl }}" class="button">Home</a></li>
        <li><a href="{{ site.baseurl }}about/" class="button">About</a></li>
        <li><a href="{{ site.baseurl }}projects/" class="button">Work</a></li>
        <li><a href="{{ site.baseurl }}blog/" class="button">Thoughts</a></li>
      </ul>
    </div>
    <h1>{{ site.slug }} <small>{{ site.subtitle }}</small></h1>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="large-12 columns" role="content">
    <h1><span>Latest Blog Articles</span></h1>
    {% for post in site.posts %}
    <article>
      <h2 class="post-title">
        <a href="{{ post.url }}">
          {{ post.title }}
        </a>
      </h2>
      <span class="post-date">{{ post.date | date_to_string }}</span>
      {{ post.content }}
    </article>
    <hr/>
    {% endfor %}
  </div>
  <div class="large-12 columns" role="pagination">
    {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
    {% else %}
    <span class="pagination-item older">Older</span>
    {% endif %}
    {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
    <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
    <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
    {% else %}
    <span class="pagination-item newer">Newer</span>
    {% endif %}
    <hr/>
  </div>
</div>