---
layout: default
title: Home
---
<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
      <ul class="button-group">
        <li><a href="{{ site.baseurl }}" class="button">Home</a></li>
        <li><a href="{{ site.baseurl }}about/" class="button">About</a></li>
        <li><a href="{{ site.baseurl }}projects/" class="button">Work</a></li>
        <li><a href="{{ site.baseurl }}blog/" class="button">Thoughts</a></li>
      </ul>
    </div>
    <h1>{{ site.slug }} <small>{{ site.subtitle }}</small></h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns" role="content">
    <h1><span>Latest Blog Articles</span></h1>
    {% for post in paginator.posts %}
    <article>
      <h2 class="post-title">
        <a href="{{ post.url }}">
          {{ post.title }}
        </a>
      </h2>
    </article>
    <hr/>
    {% endfor %}
  </div>
  <div class="row">
    <div class="pagination-centered">
      <div class="large-12 columns">
        {% if paginator.next_page %}
        <a class="button" href="/page{{paginator.next_page}}">Older</a>
        {% else %}
        <a class="button disabled">Older</a>
        {% endif %}
        {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
        <a class="button" href="/">Newer</a>
        {% else %}
        <a class="button" href="/page{{paginator.previous_page}}">Newer</a>
        {% endif %}
        {% else %}
        <a class="button disabled">Newer</a>
        {% endif %}
      </div>
    </div>
</div>