---
layout: default
title: Home
---
<div class="ui text container">
  {% for post in paginator.posts %}
    {% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
    {% if currentyear != year %}
    {% unless forloop.first %}</ul>{% endunless %}
    <h2 class="ui center aligned header">{{ currentyear }}</h2>
    {% capture year %}{{currentyear}}{% endcapture %}
    {% endif %}
    <div class="ui middle aligned celled list">
      <div class="item">
        <div class="left floated content">
          {{ post.title }}
        </div>
        <div class="right floated content">
          <div class="ui button basic">
            {{ post.date | date: '%B %d, %Y' }}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  {% include paginate_oldernewer.html %}
</div>