---
layout:         page
title:          Sitemap
---
<h1><span>Posts</span></h1>
{% for post in site.posts %}
<li><a href="{{ site.url }}{{ post.url | remove: 'index.html' }}">{{ post.url | remove: 'index.html' }}</a></li>
{% endfor %}

<h1><span>Pages</span></h1>
{% for page in site.pages %}
{% if page.layout != nil %}
{% if page.layout != 'feed' %}
<li><a href="{{ site.url }}{{ page.url | remove: 'index.html' }}">{{ page.url | remove: 'index.html' }}</a></li>
{% endif %}
{% endif %}
{% endfor %}