---
layout: page
title: Sitemap
permalink: /sitemap/
---
<div class="row small-12 medium-9 large-8 columns">
  <h2>Posts</h2>
  <ul class="no-bullet">
  {% for post in site.posts %}
    <li><a href="{{ site.url }}{{ post.url | remove: 'index.html' }}">{{ post.url | remove: 'index.html' }}</a></li>
  {% endfor %}
  </ul>
  <h2>Pages</h2>
  <ul class="no-bullet">
  {% for page in site.pages %}
  {% if page.layout != nil %}
  {% if page.title != 'Sitemap' %}
  {% if page.layout != 'feed' %}
    <li><a href="{{ site.url }}{{ page.url | remove: 'index.html' }}">{{ page.url | remove: 'index.html' }}</a></li>
  {% endif %}
  {% endif %}
  {% endif %}
  {% endfor %}
  </ul>
  <hr/>
</div>
