<div class="ui vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui horizontal massive link list">
    {% if site.twitter.username %}<a class="item" href="http://twitter.com/{{ site.twitter.username }}"><i class="twitter icon" role="img" aria-label="{{ site.author.first_name }}'s Twitter profile"></i></a>{% endif %}
    {% if site.linkedin.username %}<a class="item" href="http://linkedin.com/in/{{ site.linkedin.username }}"><i class="linkedin icon" role="img" aria-label="{{ site.author.first_name }}'s LinkedIn profile"></i></a>{% endif %}
    {% if site.github.username %}<a class="item" href="http://github.com/{{ site.github.username }}"><i class="github alternate icon" role="img" aria-label="{{ site.author.first_name }}'s GitHub profile"></i></a>{% endif %}
    {% if site.facebook.username %}<a class="item" href="http://facebook.com/{{ site.facebook.username }}"><i class="facebook icon" role="img" aria-label="{{ site.author.first_name }}'s Facebook profile"></i></a>{% endif %}
    {% if site.instagram.username %}<a class="item" href="http://instagram.com/{{ site.instagram.username }}"><i class="instagram icon" role="img" aria-label="{{ site.author.first_name }}'s Instagram profile"></i></a>{% endif %}
    </div>
  </div>
</div>
