<footer>
  <div class="row small-12 menu-centered">
    <ul class="menu simple">
      {% if site.twitter.username %}<li><a href="http://twitter.com/{{ site.twitter.username }}">Twitter</a></li>{% endif %}
      {% if site.google.plus.custom_id %}<li><a href="http://google.com/+{{ site.google.plus.custom_id }}">Google+</a></li>{% endif %}
      {% if site.instagram.username %}<li><a href="http://instagram.com/{{ site.instagram.username }}">Instagram</a></li>{% endif %}
      {% if site.github.username %}<li><a href="http://github.com/{{ site.github.username }}">GitHub</a></li>{% endif %}
      {% if site.facebook.username %}<li><a href="http://facebook.com/{{ site.facebook.username }}">Facebook</a></li>{% endif %}
    </ul>
  </div>
</footer>