<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ site.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% include _author.html %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}{{ site.baseurl }}/feed.xml">
<link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{site.baseurl}}{{ page.url }}" />
{% include _icons.html %}
{% include _fonts.html %}
{% include _ga.html %}
{% include _fb.html %}
{% include _twitter.html %}
{% include _og.html %}
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/semantic/dist/semantic.min.css">
<script async src="{{ site.url }}{{ site.baseurl }}/bower_components/jquery/dist/jquery.min.js"></script>
<script async src="{{ site.url }}{{ site.baseurl }}/assets/dist/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/dist/styles.min.css">
<script async src="{{ site.url }}{{ site.baseurl }}/assets/js/app.js"></script>