<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ site.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% include _author.html %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}{{ site.baseurl }}/feed.xml">
{% include _icons.html %}
{% include _fonts.html %}
{% include _ga.html %}
{% include _fb.html %}
{% include _twitter.html %}
{% include _og.html %}
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/semantic/dist/semantic.min.css">
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/syntax.css">

<script src="{{ site.url }}{{ site.baseurl }}/node_modules/jquery/dist/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/node_modules/highlight.js/lib/highlight.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<link rel="stylesheet" type="text/css" href="{{ site.url }}{{ site.baseurl }}/assets/css/styles.css">
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/app.js"></script>