<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>
  <!-- Foundation -->
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/foundation.css">
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/app.css">
  <script src="{{ site.baseurl }}assets/js/vendor/modernizr.js"></script>
  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}assets/ico/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}assets/ico/favicon.ico">
  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.baseurl }}atom.xml">
  <!-- Google Analytics -->
  {% include ga_.html %}
  <!-- Twitter Cards -->
  {% include twitter_.html %}
  <!-- Facebook Insights -->
  {% include fb_.html %}
</head>