{% if paginator.total_pages > 1 %}
<div class="ui center aligned container">
  <div class="ui pagination compact menu">
    {% if paginator.previous_page %}
    <a class="active item" href="{{ paginator.previous_page_path }}">Newer</a>
    {% else %}
    <a class="disabled item">Newer</a>
    {% endif %}
    {% if paginator.next_page %}
    <a class="active item" href="{{ paginator.next_page_path }}">Older</a>
    {% else %}
    <a class="disabled item">Older</a>
    {% endif %}
  </div>
</div>
{% endif %}