<div class="top-bar">
  <div class="row small-12 medium-9 large-8 columns">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text"><a href="{{ site.baseurl }}">{{ site.slug }}</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><a href="{{ site.baseurl }}about/">About</a></li>
        <li><a href="{{ site.baseurl }}">Posts</a></li>
        <li><a href="{{ site.baseurl }}projects/">Projects</a></li>
        <li><a href="{{ site.baseurl }}hire/">Hire Me</a></li>
      </ul>
    </div>
  </div>
</div>