<div class="ui mini stackable menu">
  <div class="ui container">
    <a href="{{ site.baseurl }}" class="header item">
      <img class="logo" src="{{ site.baseurl }}assets/ico/logo.png">
      {{ site.slug }}
    </a>
    <a class="ui item" href="{{ site.baseurl }}about/">About</a>
    <a class="ui item" href="{{ site.baseurl }}posts/">Posts</a>
    <a class="ui item" href="{{ site.baseurl }}projects/">Projects</a>
    <a class="ui item" href="{{ site.baseurl }}hire-me/">Hire Me</a>
  </div>
</div>
