<div class="ui stackable secondary pointing menu">
  {% if page.url == site.baseurl %}
  <li class="item active">
    <a href="{{ site.url }}/">Home</a>
  </li>
  {% else %}
  <li class="item">
    <a href="{{ site.url }}/">Home</a>
  </li>
  {% endif %} {% if page.active == "about" %}
  <li class="item active">
    <a href="{{ site.url }}/about/">About</a>
  </li>
  {% else %}
  <li class="item">
    <a href="{{ site.url }}/about/">About</a>
  </li>
  {% endif %} {% if page.active == "posts" %}
  <li class="item active">
    <a href="{{ site.url }}/posts/">Posts</a>
  </li>
  {% elsif page.category == "post" %}
  <li class="item active">
    <a href="{{ site.url }}/posts/">Posts</a>
  </li>
  {% else %}
  <li class="item">
    <a href="{{ site.url }}/posts/">Posts</a>
  </li>
  {% endif %}
</div>