:root {
  --facebook: #3b5998;
  --google: #dc4e41;
  --twitter: #55acee;
  --instagram: #bc2a8d;
  --linkedin: #0077b5;
}

.ui.menu .item>img:not(.ui) {
  margin: -.3em .1875em;
  padding: 0.1875em;
}

.PermanentMarker {
  font-family: 'Permanent Marker', cursive;
}

.DrSugiyama {
  font-family: 'Dr Sugiyama', cursive;
}

p > a:link {
  border-bottom: 0.25em solid rgba(0,0,0,.6);
  transition: all 0.125s ease-out;
}

p > a:visited {
  background-color: transparent;
  border-bottom: 0.25em solid rgba(0,0,0,.5);
}

p > a:hover {
  text-decoration: none;
  border-bottom: 0.25em solid rgba(0,0,0,.5);
  background-color: transparent;
  color: inherit;
}

.ui.link.list a.item:hover {
  color: none;
}

.ui.link.list a.item:hover i.icon.facebook:before, i.icon.facebook:hover:before {
  color: var(--facebook);
}

.ui.link.list a.item:hover i.icon.google.plus:before, i.icon.google.plus:hover:before {
  color: var(--google);
}

.ui.link.list a.item:hover i.icon.twitter:before, i.icon.twitter:hover:before {
  color: var(--twitter);
}

.ui.link.list a.item:hover i.icon.instagram:before, i.icon.instagram:hover:before {
  color: var(--instagram);
}

.ui.link.list a.item:hover i.icon.linkedin:before, i.icon.linkedin:hover:before {
  color: var(--linkedin);
}

.site {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.site-content {
  flex: 1 0 auto;
  width: 100%;
}

.ui.menu {
  border-radius: 0;
  box-shadow: none;
}

.ui.secondary.pointing.menu {
  border-bottom: none;
}

.ui.secondary.pointing.menu .item {
  font-weight: 800;
  margin: 0 .35714286em;
}

.ui.secondary.pointing.menu .item:hover {
  border-bottom: 0.25em solid #1B1C1D;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 0.0625em;
  margin: -0.0625em;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.0625em;
}

blockquote {
  padding-left: 0.938em;
  border-left: 0.25em solid #1B1C1D;
}

@media only screen and (max-width: 48rem) {
  .ui.secondary.pointing.menu {
    border-bottom: none;
  }

  .ui.secondary.pointing.menu .item {
    margin: 0.25em 0 0.25em 0;
    border-left: 0.25em solid transparent;
    border-bottom: none;
  }

  .ui.secondary.pointing.menu .item:hover {
    border-left: 0.25em solid #1B1C1D;
    border-bottom: none;
  }

  .ui.secondary.pointing.menu .item.active {
    border-left: 0.25em solid #1B1C1D;
  }
}