:root {
  --facebook: #3b5998;
  --google: #dc4e41;
  --twitter: #55acee;
  --instagram: #bc2a8d;
}

.ui.menu .item>img:not(.ui) {
  margin: -.3em .1875em;
  padding: 0.1875em;
}

.PermanentMarker {
  font-family: 'Permanent Marker', cursive;
}

.DrSugiyama {
  font-family: 'Dr Sugiyama', cursive;
}

.ui.text.container {
  max-width: 768px!important;
}

p > a {
  background-color: #ffcb04;
}

p > a:visited, p > a:hover {
  text-decoration: none;
  border-bottom: 2px solid #ffcb04;
  background-color: transparent;
  color: inherit;
}

.ui.link.list a.item:hover {
  color: none;
}

.ui.link.list a.item:hover i.icon.facebook:before, i.icon.facebook:hover:before {
  color: var(--facebook);
}

.ui.link.list a.item:hover i.icon.google.plus:before, i.icon.google.plus:hover:before {
  color: var(--google);
}

.ui.link.list a.item:hover i.icon.twitter:before, i.icon.twitter:hover:before {
  color: var(--twitter);
}

.ui.link.list a.item:hover i.icon.instagram:before, i.icon.instagram:hover:before {
  color: var(--instagram);
}

.Site {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.Site-content {
  flex: 1 0 auto;
  width: 100%;
}

.ui.menu {
  border-radius: 0;
  box-shadow: none;
}

.ui.secondary.pointing.menu {
  border-bottom: none;
}

.ui.secondary.pointing.menu .item {
  font-weight: 800;
  margin: 0 .35714286em;
}

.ui.secondary.pointing.menu .item:hover {
  border-bottom: 2px solid #1B1C1D;
}

a {
  color: rgba(0,0,0,.7);
}

@media (max-width: 48rem) {
  html {
    font-size: 95%;
  }
}