---
layout: default
---
<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
      <ul class="button-group">
        <li><a href="{{ site.baseurl }}" class="button">Home</a></li>
        <li><a href="{{ site.baseurl }}about/" class="button">About</a></li>
        <li><a href="{{ site.baseurl }}projects/" class="button">Work</a></li>
      </ul>
    </div>
    <h1>{{ site.slug }} <small>{{ site.subtitle }}</small></h1>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="large-12 columns" role="content">
    {{ content }}
    <hr/>
  </div>
</div>