---
layout: default
---
<div class="ui container">
  <h2 class="ui center aligned header">{{ page.title }}</h2>
  <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>
  {{ content }}
  <p class="byline"><strong>{{ page.title }}</strong> was published on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>{% if page.modified %} and last modified on <time datetime="{{ page.modified | date_to_xmlschema }}">{{ page.modified | date: "%B %d, %Y" }}</time>{% endif %}.</p>
  <div>
    <h4>Related Posts</h4>
    <ul>
      {% for post in site.related_posts limit:3 %}
      <h5>
        <a href="{{ post.url }}">
          {{ post.title }}
        </a>
        <a>
          {{ post.date | date: '%B %d, %Y' }}
        </a>
      </h5>
      {% endfor %}
    </ul>
  </div>
</div>

{% if site.disqus.shortname and page.comments == true %}
<section class="disqus">
  <div>
    <h1 class="comments-header">Comments</h1>
    <div id="disqus_thread"></div>
    {% include _disqus.html %}
  </div>
</section>
{% endif %}